.container{
    display: block;
    width: 1170px;
    margin: 0 auto;
    @include clearfix;
    &__small{
        width: 960px;
    }
}
.row, .clearfix{
	@include clearfix;
}
.inline-block{
	@include inline-block;
}
.center-absolute{
	@include center-absolute;
}
.center-relative{
	@include center-relative;
}
.aligner{
	@include vertical-center-parent;
}
.align{
	&--left{
		text-align: left;
	}
	&--center{
		text-align: center;
	}
	&--right{
		text-align: right;
	}
}

